.banner-slider-wrapper {
  position: relative;
  height: 60vh; /* Ajuste a altura conforme necessário */
  overflow: hidden;
}

.banner-slider-wrapper .banner-bg-slide {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-bg-slide-overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
}
